.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 351px auto 60px 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 396px;
  }
}.u-section-2 {
  min-height: 1083px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  height: 876px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -775px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 982px;
}

.u-section-2 .u-image-1 {
  width: 342px;
  height: 342px;
  margin: -94px auto 0 -68px;
}

.u-section-2 .u-image-2 {
  width: 342px;
  height: 323px;
  margin: 14px 126px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 342px;
  height: 323px;
  margin: 14px auto 0 74px;
}

.u-section-2 .u-shape-2 {
  width: 466px;
  height: 318px;
  margin: -274px auto 0 39px;
}

.u-section-2 .u-image-4 {
  width: 274px;
  height: 108px;
  margin: -119px 47px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 982px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-line-1 {
  width: 124px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 63px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 64px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 9px 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -1036px calc(((100% - 1140px) / 2) + 71px) 984px calc(((100% - 1140px) / 2) + 755px);
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1046px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 966px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 690px;
  }

  .u-section-2 .u-line-1 {
    height: 12px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 626px);
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 336px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 90px;
  }

  .u-section-2 .u-shape-2 {
    width: 432px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 660px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 406px);
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1789px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    order: 1;
    min-height: 1207px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 480px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin: 20px auto 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1086px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -876px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 969px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -255px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-2 .u-image-2 {
    height: 202px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 202px;
    width: 340px;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-top: -285px;
    margin-left: -30px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -97px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 102px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -1479px;
    margin-right: calc(((100% - 340px) / 2) + -175px);
    margin-left: calc(((100% - 340px) / 2) + 75px);
  }
}